@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Demo Async e await</h1>
    <p><a target="_blank" href="http://www.asp.net/aspnet/overview/web-development-best-practices/async-and-await" class="btn btn-primary btn-lg">Mais informações &raquo;</a></p>
</div>
