
@{
    ViewBag.Title = "ObterDadosAsync";
}

<h2>Dados de @ViewBag.uf</h2>

<div>
    Temperatura: @ViewBag.temp
</div>
<div>
    População: @ViewBag.pop
</div>
<div>
    @Html.Encode(ViewBag.elapsedTime)
</div>